# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Logs
# -------------------------
logs/

# -------------------------
# Chroma Database
# -------------------------
storage/chroma/

# -------------------------
# Cloned Repositories
# -------------------------
storage/repositories/

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db